{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "API Country",
    "description": "Api for Country and Regiones",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "host": "api-country.aarias.dev",
  "basePath": "/api/v1",
  "tags": [
    {
      "name": "Country",
      "description": "API for countries in the system"
    }
  ],
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/countries": {
      "get": {
        "tags": ["Country"],
        "summary": "Get all countries in system",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "List of all countries",
            "schema": {
              "type": "object",
              "properties": {
                "currency": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "symbol": {
                      "type": "string"
                    }
                  }
                },
                "language": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "_id": { "type": "string" },
                "name": { "type": "string" },
                "code": { "type": "string" },
                "capital": { "type": "string" },
                "region": { "type": "string" },
                "flag": { "type": "string" }
              }
            }
          }
        }
      }
    }
  }
}
