{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "API Country",
    "description": "Api for Country and Regiones",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "host": "api-country.aarias.dev",
  "basePath": "/api/v1",
  "tags": [
    {
      "name": "Country",
      "description": "API for countries in the system"
    },
    {
      "name": "Region",
      "description": "API for regions in the system"
    }
  ],
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/countries": {
      "get": {
        "tags": ["Country"],
        "summary": "Get all countries in system",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "List of all countries",
            "schema": {
              "type": "object",
              "properties": {
                "currency": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "symbol": {
                      "type": "string"
                    }
                  }
                },
                "language": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "_id": { "type": "string" },
                "name": { "type": "string" },
                "code": { "type": "string" },
                "capital": { "type": "string" },
                "region": { "type": "string" },
                "flag": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/country": {
      "get": {
        "tags": ["Country"],
        "summary": "Get country by param",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "Country code [CL]",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Country name",
            "required": false,
            "type": "string"
          },
          {
            "name": "capital",
            "in": "query",
            "description": "Country capital",
            "required": false,
            "type": "capial"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "One country by param",
            "schema": {
              "type": "object",
              "properties": {
                "currency": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "symbol": {
                      "type": "string"
                    }
                  }
                },
                "language": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "_id": { "type": "string" },
                "name": { "type": "string" },
                "code": { "type": "string" },
                "capital": { "type": "string" },
                "region": { "type": "string" },
                "flag": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/regions": {
      "get": {
        "tags": ["Region"],
        "summary": "Get all regions in system",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "List of all regions",
            "schema": {
              "type": "object",
              "properties": {
                "_id": { "type": "string" },
                "name": { "type": "string" },
                "code": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/region": {
      "get": {
        "tags": ["Region"],
        "summary": "Get region by param",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "Region code [SA]",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Region name",
            "required": false,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "One region by param",
            "schema": {
              "type": "object",
              "properties": {
                "_id": { "type": "string" },
                "name": { "type": "string" },
                "code": { "type": "string" }
              }
            }
          }
        }
      }
    }
  }
}
